
@import './base.css';
body {
  height: 100vh;
  width: 100%;
}

@font-face {
  font-family: 'HouseOfCardsW03Bold';
  src: url('@/public/Fonts/FontsFree-Net-House-of-cards-W03-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}




.local-ring {
  @apply transition-all duration-300 focus:ring-4 ring-primary-70;
}

/* Scrollbar Styling */
/* ::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #8559c5;
} */

/* **************** */

/*
 *  STYLE 1
 */

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #f5f5f5;
}
/* ::-webkit-scrollbar-thumb:horizontal {
  background: #000;
  height: 3px;
  border-radius: 10px;
} */

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}
